<div id='dash'>
dash board

 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp    or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis     nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat    . Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor    e eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s    unt in culpa qui officia deserunt mollit anim id est laborum.
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp    or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis     nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat    . Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor    e eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s    unt in culpa qui officia deserunt mollit anim id est laborum.
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp    or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis     nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat    . Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor    e eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s    unt in culpa qui officia deserunt mollit anim id est laborum.

 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp    or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis     nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat    . Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor    e eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s    unt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<% content_for :content_bottom do %>
<div id='preview' class='equal_height_column_wrapper'>
<div class='section equal_height_column'>
<h4>Ready for Letters</h4>
<table><tbody>
<tr><th>ChildID</th><th>Date Selected</th></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
</tbody></table>
go to full list ...
</div>
<div class='section equal_height_column'>
<h4>Ready for Interview</h4>
<table><tbody>
<tr><th>ChildID</th><th>Date Letter Sent</th></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
</tbody></table>
go to full list ...
</div>
<div class='section equal_height_column'>
<h4>Waiting for Dust</h4>
<table><tbody>
<tr><th>ChildID</th><th>Date Kit Sent</th></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
<tr><td>0123</td><td>1/31/2000</td></tr>
</tbody></table>
(+5 others)  go to full list ...
</div>
</div>
<% end %>
