<% content_tag_for( :tr, study_subject, :class => 'row' ) do %>
<td class='childid'>
<%= link_to study_subject.childid, interview_study_subject_path(study_subject) -%>
</td>
<td class='studyid'>
<%= study_subject.studyid %>
</td>
<td class='last_name'>
<%= study_subject.last_name %>
</td>
<td class='first_name'>
<%= study_subject.first_name %>
</td>
<% end %><%# content_tag_for %>
