<% content_for :id_bar do %>
<%= link_to( 'Save', nil, {
	:id => "for_#{dom_id(@addressing,:edit)}",
	:class => :submitter
}) %>
<% end %>

<% form_for(@addressing,
	:url => addressing_path(@addressing),
	:html => { :class => 'confirm' }) do |f| %>
<%= render 'form', :f => f %>
<% end %>

<% if current_user.may_destroy_addressings? %>
<div class='dev_only'><span>Development only:</span>
<%= (@addressing.new_record?)? "&nbsp" : 
destroy_link_to( "Destroy", addressing_path(@addressing) )
%>
</div>
<% end %>
