<% content_for :main do %>
<div id='submenu'>
<%= link_to 'general', general_he_subjects_path,
	:class => ((controller.action_name == 'general')?'current':nil) %>
<a>hospital</a>
<a>address/contact</a>
<a>eligibility/enrollments</a>
</div><!-- submenu -->
<% end %>
