<% content_for :main do %>
<div id='submenu'>
	<a>general</a>
	<a>hospital</a>
	<a>address/contact</a>
	<a>eligibility/enrollments</a>
</div><!-- submenu -->
<% end %>
<%= render 'he/subjects/index' %>
