.gitignore
.DS_Store
.svn/
versions/

/DUMMY_ManipulatedData.csv
/HomeExposuresMetadata.csv
/SurveyRelatedMetadata.csv
/address_types.csv
/config/database.yml
/config/fed_ex.yml
/config/initializers/mail.rb
/config/initializers/session_store.rb
/config/s3.yml
/coverage.data
/coverage/
/database_description_*
/db/*.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/dummy_addresses.csv
/dummy_subject_pii_etc.csv
/*.war
/log/
/packages_updated.*
/public/bottom.html
/public/columns.html
/public/doc/
/public/images/BufflerBanner1.jpg
/public/labels.html
/public/layout1.html
/public/system/
/script/server_secure
/script/webrick
/surveys/fixtures/
/target_command
/target_output
/test_transactions.rb
/test/unit/helpers/
/tmp/


#*/documents
