.gitignore
.DS_Store
.svn/
versions/
/misc/

/address_types.csv
/config/database.yml
/config/fed_ex.yml
/config/initializers/mail.rb
/config/initializers/session_store.rb
/config/s3.yml
/coverage.data
/coverage/
/db/*.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/*.war
/log/
/packages_updated.*
/public/bottom.html
/public/columns.html
/public/doc/
/public/images/BufflerBanner1.jpg
/public/labels.html
/public/layout1.html
/public/system/
/script/server_secure
/script/webrick
/surveys/fixtures/
/tmp/

#*/documents

/public/javascripts/jquery-1.3.2.js
/public/javascripts/jquery-1.4.2.min.js
/public/javascripts/jquery-ui-1.7.2.js
/public/javascripts/jquery-ui-1.8.4.custom.min.js
