.gitignore
.DS_Store
.svn/
versions/
db/*.sqlite3
db/seeds.rb
db/schema.rb
log/*
tmp/**/*
coverage
coverage.data
config/fed_ex.yml
config/database.yml
config/initializers/session_store.rb
config/initializers/mail.rb
public/javascripts-prototype/
packages_updated.*
doc/app/
doc/guides/
doc/plugins/
vendor/plugins/**/rdoc/
DUMMY_ManipulatedData.csv
HomeExposuresMetadata.csv
SurveyRelatedMetadata.csv
address_types.csv
db/pages.yml
dummy_addresses.csv
dummy_subject_pii_etc.csv
public/bottom.html
public/columns.html
public/doc/
public/images/BufflerBanner1.jpg
public/layout1.html
public/system/
script/server_secure
script/webrick
surveys/fixtures/
test/declarative.rb.asdf
test/unit/helpers/
test_transactions.rb
db/*.sqlite3-journal
*.war
