<h4>IneligibleReasons:</h4>
<% unless @ineligible_reasons.empty? %>
<table id='ineligible_reasons'><tbody>
<%= render :partial => 'ineligible_reason', :collection => @ineligible_reasons %>
</tbody></table>
<% else %>
Sorry, no ineligible_reasons yet.
<% end %>

<p><%= button_link_to 'Create new ineligible_reason', new_ineligible_reason_path %></p>
