<% content_tag_for( :tr, interview, :class => 'row' ) do %>
<td class='instrument'>
<%= link_to interview.try(:interview_method).try(:instrument)||'Unknown',
	interview_path(interview) %>
</td>
<td class='project'>
<%#= interview.try(:instrument_version).try(:interview_type).try(:project)||'Unknown' %>TESTING
</td>
<td class='began'>
<%=mdy interview.began_on %>
</td>
<td class='ended'>
<%=mdy interview.ended_on %>
</td>
<% end %><%# content_tag_for %>
