<% id_bar_for(@subject) %>

<% unless @interviews.empty? %>
<table id='interviews'><thead><tr>
<th>Instrument</th>
<th>Project</th>
<th>Began</th>
<th>Ended</th>
</tr></thead><tbody>
<%= render :partial => 'interview', :collection => @interviews %>
</tbody></table>
<% else %>
<p>There are no interviews for this subject.</p>
<% end %>
