<% stylesheets('subject') %>
<% render 'submenu' %>

<% render 'subjects/id_bar' unless @subject.nil? %>

<% content_tag_for( :div, @interview ) do %>
<p>Interview Info</p>
<p>  Outcome: completed</p>
<p>  Dates of interview</p>
<p>    began: 08/30/2010:  ended (if other than date began)</p>
<p>  Interviewer: Ellen Rosensweig</p>
<p>  Version: Home Exposures telephone interview, version 1</p>
<p>  Interview method: telephone</p>
<p>  Interview language: English</p>

<p>Respondent Info</p>
<p>  Name: Mary Jones</p>
<p>  Relationship: mother       specify:</p>

<% end %><%# content_tag_for %>
