<% content_for :main do %>
<div id='submenu'>
<%= link_to 'general', hx_subject_path(@subject),
	:class => ((controller.action_name == 'show')?'current':nil) %>
<a>hospital</a>
<a>address/contact</a>
<a>eligibility/enrollments</a>
</div><!-- submenu -->
<% end %>
