<%= f.error_messages %>

<%#= render :partial => 'kit_packages', :locals => { :f => f } %>

<p>
	<%= f.submit( (@sample_kit.new_record?)?'Create':'Update') %>
	<%= link_to( "Cancel", study_subject_path(@sample_kit.sample.study_subject),
		:class => 'button' ) %>
</p>
