<% stylesheets('edit_hx_enrollment') %>
<% render 'hx/subjects/submenu', :subject => @project_subject.subject %>
<%= f.error_messages %>

<p>
	<%= f.submit( (@project_subject.new_record?)? "Create" : "Update" )%>
</p>
