<% stylesheets('hx_enrollments') %>
<% render 'hx/subjects/submenu' %>
<% render 'hx/subjects/id_bar' %>

<% if @subject.enrollments.length > 0 %>
<table id='enrollments'><thead><tr>
<th class='project'>Project
</th><!-- class='project' -->
<th class='candidate'>Is Candidate?
</th><!-- class='candidate' -->
<th class='locate'>Able to Locate?
</th><!-- class='locate' -->
<th class='eligible'>Is Eligible?
</th><!-- class='eligible' -->
<th class='consented'>Consented On
</th><!-- class='consented' -->
<th class='completed'>Completed On
</th><!-- class='completed' -->
</tr></thead><tbody>
<%= render :partial => 'enrollment', 
	:collection => @subject.enrollments,
	:locals => { :edit => current_user.may_edit_enrollments? } %>
</tbody></table><!-- id='enrollments' -->
<% else %>
<p>This subject has no enrollments</p>
<% end %>

<% if current_user.may_edit_enrollments? %>
<p id='new_enrollment'>
<%= link_to 'Create new enrollment', 
	new_hx_subject_enrollment_path(@subject) %>
</p>
<% end %>
