#addresses {
}
.address {
	float: left;
	clear: both;
	padding-top:6px;
	padding-bottom:6px;
	width: 15em;
}
.address_meta {
	float: left;
	padding-top:6px;
}
.address .line_1,
.address .line_2,
.address .csv {
	display:block;
}
.edit {
	float: right;
}
#new_address {
	clear:both;
}
