/*
	Much of this style was chosen to mimic berkeley.edu
*/
body {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
}

.flash {
  padding: 0.7em;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.flash#error {
  border: 2px solid #F44;
  background-color: #FCC;
}
.flash#notice {
  border: 2px solid #4F4;
  background-color: #CFC;
}
.flash#noscript {
  border: 2px solid #FF8C00;
  background-color: #FFC5AF;
}



div#container {
	width: 800px;
	margin: 0 auto;
}
div#head {
	background-color: #1D1F45;
	background-image: url('/images/berkeley-text.gif');
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
}
span#whoami {
	color:white;
	float:right;
	padding: 1ex;
}


div#menu {
	background-color:#252C58;
	float:left;
}
div#menu a {
	display:block;
	color: #E7C254;
	padding: 6px 7px 6px 20px;
	border-right: 1px dotted #616688;
	border-bottom: 1px dotted #616688;
	width: 120px;
	text-decoration:none;
	font-size: 85%;
}
div#content {
	margin-left:150px;	
	background-color: white;
}
#main {
/*
	margin: 20px auto 0px;
	border: 2px solid #8DA2B9;
*/
	padding: 1em;
}
#footer {
	clear:both;
	padding-top: 1ex;
	text-align:center;
	font-size:8pt;
	color: gray;
}

fieldset legend {
	font-size: 1.2em;
	color: #61769E;
	font-weight: bold;
}

p > small {
	color: gray;
	font-size: 6pt;
}



div#users table td {
	padding-right: 1em;
}
div#users table td.is_admin {
	text-align: center;
}
