/*
	Much of this style was chosen to mimic berkeley.edu
*/
body {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
}

.flash {
  padding: 0.7em;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.flash#error {
  border: 2px solid #F44;
  background-color: #FCC;
}
.flash#notice {
  border: 2px solid #4F4;
  background-color: #CFC;
}
.flash#noscript {
  border: 2px solid #FF8C00;
  background-color: #FFC5AF;
}



div#container {
	margin: 0 5px;
}
div#head {
	background-color: #1D1F45;
	background-image: url('/images/berkeley-text.gif');
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
	min-width: 765px;
}
span#whoami {
	color:white;
	float:right;
	padding: 1ex;
}

/*
	surveyor uses #menu, so we can't
	Actually, now that I've changed the layout for the survey,
	we could actually use #menu here.
*/
div#left_margin {
	float:left;
	padding-right:2px;
	padding-bottom:10px;
}
div#appmenu a {
	display:block;
	color: #E7C254;
	padding: 6px 7px 6px 10px;
	border-right: 1px dotted #616688;
	border-bottom: 1px dotted #616688;
	width: 125px;
	text-decoration:none;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	line-height: 1.1;
}
div#appmenu a:hover {
	background-color: #E7C254;
	color:#252C58;
}

div#ads a {
	display:block;
}
div#ads img {
	border: 0;
	padding: 3px;
	width: 140px;
}

div#content {
	margin-left: 145px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: white;
	min-width: 600px;
}
div#content div#main h1:nth-child(1),
div#content p:nth-child(2),
div#content h1:nth-child(2),
div#content h2:nth-child(2) {
	margin-top: 0;
}

#footer {
	clear:both;
	padding-top: 1ex;
	text-align:center;
	font-size:8pt;
	color: gray;
	min-width: 765px;
}


p > small {
	color: gray;
	font-size: 6pt;
}


div#users table td {
	padding-right: 1em;
}
div#users table td.is_admin {
	text-align: center;
}


div.row {
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
div.row div.manage {
	text-align:right;
}
div.row:nth-child(1) {
	border-top: 1px solid silver;
}
div.row:nth-child(2n)   { background-color: #EEE; }
div.row:nth-child(2n+1) { background-color: #DDD; }

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}




div#background  {
	height:100%;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}
div#background div.margin {
	background-repeat:repeat-y;
	height:100%;
	position:absolute;
	width:5px;
}
div#background div#menu_back.margin {
	background-color: #252C58;
	left:5px;
	width:145px;
}
/*
div#left_margin {
	background-position:right top;
	left:0;
}
div#right_margin {
	background-position:left top;
	right:0;
}
*/


