.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.7em;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}
.flash.error,
.flash#error {
	border: 2px solid #F44;
	background-color: #FCC;
}
.flash.notice,
.flash#notice {
	border: 2px solid #4F4;
	background-color: #CFC;
}
.flash.noscript,
.flash#noscript {
	border: 2px solid #FF8C00;
	background-color: #FFC5AF;
}

.warning {
	border: 2px solid #F44;
	background-color: #FCC;
	margin: 1px;
	padding: 1px;
}

fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #FCF9EF; }
.row:nth-child(2n+1) { background-color: #F5F1E8; }

table {
	border-collapse:collapse;
	width: 100%;
}
thead tr th,
tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
}

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}

.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
	margin: 13.333px 0;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
	/* stop one column from pushing another down */
	vertical-align: top;
}



th {
	text-align: left;
}


.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper * {
	float:left;
}
.field_wrapper *:last-child {
	float:none;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 250px;
}

form.destroy_link_to {
	display:inline;
}


.field_error {
	background-color: #F88;
}

.required {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}
p.submit_bar {
	text-align: center;
}

input.small  { width: 10em; }
input.medium { width: 20em; }

div.table {
	clear:both;
	/* this holds the table-row open, otherwise shrinks to whatever */
	display:table;
	width:100%;
}
div.table .row {
	display:table-row;
}
div.table .row .cell {
	display:table-cell;
}

.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.superscript { font-size:x-small; vertical-align:top; }
.subscript   { font-size:x-small; vertical-align:bottom; }


div.sortable {
	height: 18px;
	line-height: 16px;
}
div.sortable * {
	display:inline;
	vertical-align:top;
}
div.sortable img {
	height: 24px;
}

