#address_line_1,
#address_line_2,
#address_city,
#address_state,
#address_zip {
	float:left;
}

#address_line_1,
#address_line_2 {
	width: 30em;
}
#address_city {
	width: 18em;
}
#address_zip {
	width: 7em;
}

form label {
	float:left;
	clear:left;
}

label[for=address_line_1],
label[for=address_line_2],
label[for=address_city] {
	width: 105px;
}
#address_line_1,
#address_line_2,
#address_city,
#address_state,
#address_zip,
label[for=address_line_1],
label[for=address_line_2],
label[for=address_city] {
	margin-top:15px;
}





form div.controls {
	padding-top: 10px;
}
form div.controls select {
	clear:left;
	float:left;
	margin-right: 20px;
}

.dev_only {
	margin-top: 30px;
}
.dev_only span {
	float:left;
}

div.verified,
div.valid {
	clear:left;
}
