.phone_number,
.phone_type_id,
.is_valid,
.is_verified {
	display:inline;
	float:left;
}
.valid,
.verified,
.is_primary {
	clear:left;
}
.why_invalid,
.how_verified {
	margin-left: 150px;
}

.is_valid,
.is_verified {
	width: 150px;
}

.field_wrapper {
	padding:10px;
}



.dev_only {
	margin-top: 30px;
	clear:left;
}
.dev_only span {
	float:left;
}

.field_wrapper .fieldWithErrors:first-child {
	float:left;
}
