label[for=subject_vital_status_id],
label[for=subject_sex],
label[for=subject_race_id],
label[for=subject_subject_type_id] {
	/* float is OK as label and select are in div */
	float:left;
	width: 100px;
}
select#subject_vital_status_id,
select#subject_sex,
select#subject_race_id,
select#subject_subject_type_id {
	width: 170px;
}

/* Move the submit button up to the id bar */
/*
input#subject_submit {
	position:absolute;
	top: 108px;
	left: 730px;
	font-size:12pt;
	width: 100px;
}
*/
/* Using .id_bar_button.without_submenu in subject_id_bar.css */
