.field_wrapper {
	padding: 5px;
	padding-left: 15px;
}
.field_wrapper > span.label {
	float:left;
	width: 190px;
}
.document_version.field_wrapper > span.label {
	width: 70px;
}
.completed_on.field_wrapper > span.label,
.consented_on.field_wrapper > span.label {
	width: 60px;
}

.field_wrapper.terminated_reason,
.field_wrapper.refusal_reason,
.field_wrapper.ineligible_reason,
.field_wrapper.reason_not_chosen {
	margin-left:50px;
	margin-right:50px;
}
.field_wrapper.is_complete,
.field_wrapper.completed_on,
.field_wrapper.consented,
.field_wrapper.consented_on,
.field_wrapper.refusal_reason,
.field_wrapper.ineligible_reason {
	float:left;
}

.field_wrapper.is_candidate,
.field_wrapper.able_to_locate,
.field_wrapper.is_eligible,
.field_wrapper.ineligible_reason,
.field_wrapper.is_chosen,
.field_wrapper.reason_not_chosen,
.field_wrapper.consented,
.field_wrapper.refusal_reason,
.field_wrapper.is_complete,
.field_wrapper.terminated_participation,
.field_wrapper.terminated_reason,
.field_wrapper.notes {
	clear:left;
}

.field_wrapper.consented,
.field_wrapper.is_complete {
	width: 220px;
}
.field_wrapper.consented_on,
.field_wrapper.completed_on {
	width: 170px;
}
.field_wrapper.document_version {
	text-align:right;
}

