@import url('he_subjects.css');
div.checkbox {
	width: 30px;
}
div.childid {
	width: 70px;
}
div.studyid {
	width: 80px;
}
div.last_name {
	width: 140px;
}
div.first_name {
	width: 140px;
}
div.kit_sent_on {
	width: 140px;
}
