input[type='text'],
textarea {
	width: 99%;
}
div.image {
	float: left;
	width: 50%;
}
div.active {
	padding-top: 15px;
}
div.image_preview {
	clear:left;
	margin:0 auto;
	text-align:center;
}
div.caption {
	clear: left;
}
