body {
	padding:0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
	background-color: #F0F0FF;
}

.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  padding: 0.7em;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.flash#error {
  border: 2px solid #F44;
  background-color: #FCC;
}
.flash#notice {
  border: 2px solid #4F4;
  background-color: #CFC;
}
.flash#noscript {
  border: 2px solid #FF8C00;
  background-color: #FFC5AF;
}

div#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #DDEEDD;	/* guidance background color */
}

div#header {
	background-color: #8899AA;
	height: 100px;
	background-image: url('/images/berkeley-text.gif');
	background-repeat: no-repeat;
	position:relative; /* NEEDED so that mainmenu can be at bottom */
}

div#minimenu {
	float:right;
	padding: 5px 10px;
	color: white;
}
div#fullsearch {
	clear:right;
	float:right;
}
div#subsearch {
	clear:right;
	float:right;
}

div#mainmenu { 
	/* NEEDED so that mainmenu can be at bottom */
	position:absolute;
	bottom:0;
}
div#mainmenu a {
	margin:0;
	float:left;
	padding: 4px 24px;
	font-size: 12pt;
	font-weight: bold;
	border: 2px solid black;
	border-bottom: 1px solid black;
	border-left: 0;
	background-color: #AACCFF;
}
div#mainmenu a:nth-child(1) {
	border-left: 2px solid black;
}
div#mainmenu a.current {
	background-color: #CCCCBB;
}


div#main {
	width: 800px;
	background-color:white;
	float:left;

	/* column hack */
	padding-bottom: 32767px;
	margin-bottom: -32767px;

}
div#submenu {
	clear:left;
	margin: 0;
	background-color: #CCCCBB;
	border: 1px solid black;
	line-height: 22pt;
}
div#submenu a {
	padding: 5px 20px;
}

div#columns {
	/* column hack */
	/* http://www.positioniseverything.net/articles/onetruelayout/equalheight */
	overflow:hidden;
}

div#content {
/* 800 - 2 * ( 25 + 1 ) */
/*
	width: 748px;	
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	min-height: 200px;	
	clear:both;
*/

	background-color:white;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	padding: 5px 25px;

	/* column hack */
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div#guidance {
	width: 180px;
	float:right;
	text-align:justify;
	padding:9px;

	/* column hack */
	padding-bottom: 32767px;
	margin-bottom: -32700px;

}

#footer {
	clear:both;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align:center;
	font-size:8pt;
	line-height:8pt;
	background-color: #EEE;
	color: gray;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
div.row div.manage {
	text-align:right;
}
div.row:nth-child(1) {
	border-top: 1px solid silver;
}
div.row:nth-child(2n)   { background-color: #EEE; }
div.row:nth-child(2n+1) { background-color: #DDD; }

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}
