@import url('subjects.css');
div.header {
	clear:both;
	padding: 6px;	/* same as a .row */
}
div.childid {
	width: 90px;
	text-align:center;
}
div.studyid {
	width: 100px;
	text-align:center;
}
div.last_name {
	width: 200px;
}
div.first_name {
	width: 200px;
}
span.arrow {
	padding-left:0.5ex;
}
