img.handle {
	padding: 6px 0;
}
.position {
	font-weight:bold;
	border: 1px solid black;
}
.path {
	width: 150px;
}
.menu {
	width: 150px;
}
.title {
	width: 150px;
}
.page .manage {
	text-align: right;
}

.page.row.ui-sortable-helper {
	border: 1px dashed #E7C254;
}
