div#pages {
/*
	padding-top:20px;
*/
}
div.page{
}
img.handle {
	padding: 6px 0;
	float:left;
}
div.position {
	float:left;
	font-weight:bold;
	border: 1px solid black;
	margin-left: 10px;
	padding: 0 5px;
}
div.path {
	margin-left:13px;
	float:left;
	width: 100px;
}
div.menu {
	float:left;
	width: 100px;
}
div.title {
	float:left;
	width: 200px;
}
div.manage {
}

div.page.row.ui-sortable-helper {
	border: 1px dashed #E7C254;
}
