@import url('package.css');
.field_wrapper.sample_type_parent {
	float:left;
	margin-right:70px;
}

#shipping {
	border-bottom: 1px solid silver;
}
.field_wrapper {
	margin-bottom: 15px;
}
.field_wrapper .label {
	float: left;
	width: 200px;
}
