#main .manage {
	background-color: silver;
	padding: 10px;
}
#main .manage .childid {
	float:left;
	padding-right: 10px;
}
#main .manage .studyid {
	float:left;
	padding-right: 10px;
}
#main .manage .full_name {
	float:left;
	font-weight: bold;
}
#main .manage .controls {
	text-align: right;
}
#main .manage .controls a {
	background-color: white;
	padding: 2px 15px;
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid gray;

	/* http://gradients.glrzad.com/ */
/*
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(235,235,235) 10%,
		rgb(179,179,179) 47%,
		rgb(235,235,235) 74%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.10, rgb(235,235,235)),
		color-stop(0.47, rgb(179,179,179)),
		color-stop(0.74, rgb(235,235,235))
	);
*/
}

#do_not_contact {
	text-align:center;
	color:red;
	font-weight: bold;
	padding: 10px;
	background-color: #FEE;
	border: 2px solid red;
}
