#main #id_bar {
	background-color: #E5DBC1;
	padding: 10px;
	position:relative;

/* 
	overflow:hidden;
*/
}
#main #id_bar .childid {
/*
	float:left;
*/
	display:inline;
	padding-right: 10px;
}
#main #id_bar .studyid {
/*
	float:left;
*/
	display:inline;
	padding-right: 10px;
}
#main #id_bar .full_name {
/*
	float:left;
*/
	display:inline;
	font-weight: bold;
}
#main #id_bar .controls {
/*
	this would randomly and intermittantly fall out of line?
	so added position:relative to id_bar and 
	position:absolute and top and right here
*/
	position:absolute;
	top:10px;
	right:10px;
	display:inline;
/*
	text-align: right;
	float: right;
*/
	/* box-shadow: <horizontal> <vertical> <blur> <color> */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}
	/* http://css-radius.heroku.com */
/*
#main #id_bar .controls a {
	background-color: white;
	padding: 2px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid gray;
}
*/
	/* http://gradients.glrzad.com/ */
/*
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(235,235,235) 10%,
		rgb(179,179,179) 47%,
		rgb(235,235,235) 74%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.10, rgb(235,235,235)),
		color-stop(0.47, rgb(179,179,179)),
		color-stop(0.74, rgb(235,235,235))
	);
*/

#do_not_contact {
	text-align:center;
	color:red;
	font-weight: bold;
	padding: 10px;
	background-color: #FEE;
	border: 2px solid red;
}

#id_bar .controls a {
	text-align:center;
	font-size:12pt;
	width: 90px;
	background-color: white;
	padding: 2px 15px;
	border: 1px solid gray;
	color: black;
	text-decoration:none;

	/* http://css-radius.heroku.com */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#id_bar .controls a:hover {
	background-color:#EEE;
}
