.subject .columns {
	padding-top:10px;
}
.subject #phone_numbers {
	clear:both;
	margin-top: 15px;
}

.columns > .column {
	padding-right: 10px;
}

.columns .column:nth-child(1) {
	width: 150px;
}
.columns .column:nth-child(2) {
	width: 350px;
}
.columns .column:nth-child(3) {
}

.field_wrapper .label {
	width: 110px;
}
