.subject .columns {
	padding-top:10px;
}
.subject #phone_numbers {
	clear:both;
	margin-top: 15px;
}

.columns > .column {
	padding-right: 10px;
}

.columns .column:nth-child(1) {
	width: 180px;
}
.columns .column:nth-child(2) {
	width: 300px;
}
.columns .column:nth-child(3) {
}
