div#subjects {
/*
	padding-top:20px;
*/
}
div#content h2:nth-child(2) {
	margin-top: 0;
}

div.id {
	width: 50px;
	float:left;
}
div.count {
	width: 100px;
	float:left;
}
div.response_set {
	width: 100px;
	float:left;
}
