/*

add

@import url('shared.css');

when have a chance to ensure goodness

*/

#	:not(.dependent) not work as would like
div.question:nth-child(2n)   { background-color: #EEE; }


/*
	Much of this style was chosen to mimic berkeley.edu
*/
body {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
}

div#container {
	margin: 0 5px;
}
div#head {
	background-color: #1D1F45;
	background-image: url('../images/berkeley-text.gif');
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
	min-width: 765px;
}

div#content {
	margin-left: 0;
	padding-top: 20px;
	padding-left: 20px;
	background-color: white;
	min-width: 600px;
}
div#content div#main h1:nth-child(1),
div#content p:nth-child(2),
div#content h1:nth-child(2),
div#content h2:nth-child(2) {
	margin-top: 0;
}

#footer {
	clear:both;
	padding-top: 1ex;
	text-align:center;
	font-size:8pt;
	color: gray;
	min-width: 765px;
}


p > small {
	color: gray;
	font-size: 6pt;
}


div.row {
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
div.row div.manage {
	text-align:right;
}
div.row:nth-child(1) {
	border-top: 1px solid silver;
}
div.row:nth-child(2n)   { background-color: #EEE; }
div.row:nth-child(2n+1) { background-color: #DDD; }

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

