.gravatar {
	width: 40px;
}
.gravatar img {
	border: 0;
	height: 30px;
	width: 30px;
}
.username {
	width: 300px;
}
.role_name {
	text-align:right;
}

.row:nth-child(2n).administrator   { background-color: #EE8; }
.row:nth-child(2n+1).administrator { background-color: #DD8; }
.row:nth-child(2n).moderator       { background-color: #ECE; }
.row:nth-child(2n+1).moderator     { background-color: #DCD; }
.row:nth-child(2n).editor          { background-color: #CEE; }
.row:nth-child(2n+1).editor        { background-color: #CDD; }
.row:nth-child(2n).employee        { background-color: #FDD; }
.row:nth-child(2n+1).employee      { background-color: #EDD; }
