<% content_tag_for :tr, language, :class => 'row' do %>
	<td class='code'>
		<%= language.code %>
	</td>
	<td class='description'>
		<%= language.description %>
	</td>
	<td class='manage'>
		<%= link_to 'Edit', edit_language_path(language), :style => 'float:left;' %>
		<%= destroy_link_to 'Destroy', language_path(language) %>
	</td>
<% end %>
