<h4>Languages:</h4>
<% unless @languages.empty? %>
<table id='languages'><tbody>
<%= render :partial => 'language', :collection => @languages %>
</tbody></table>
<% else %>
Sorry, no languages yet.
<% end %>

<p><%= button_link_to 'Create new language', new_language_path %></p>
