ActionMailer::Base.smtp_settings = {
	:enable_starttls_auto => true,
  :address => "smtp.gmail.com",
  :port => 587,
  :domain => "gmail.com",
  :authentication => :plain,
  :user_name => "YOUR_GMAIL_USERNAME@gmail.com",
  :password => "YOUR_GMAIL_PASSWORD"
}
ActionMailer::Base.default_content_type = "text/html"
