<%= content_for :head, stylesheet_link_tag('users') %>

<div id='users'>
<% @users.each do |user| %>
<div class='<%#=user.role_name-%> user row'>
<div class='gravatar'>
<%= link_to( image_tag(user.gravatar_url), "http://gravatar.com",
	:target => 'new' )%>
</div>
<div class='username'>
<%= link_to user.displayname, user_path(user) -%>
</div>
<div class='role_name'>
<%#= link_to user.role_name, users_path( :role_name => user.role_name ) -%>
</div>
</div>
<% end %>

<%#= link_to 'Invite New User', new_user_invitation_path %>
</div><!-- id='users' -->
