<fieldset id='main'>
<legend><%= @user.displayname %></legend>
 
<div class='person'><dl>
	<% @user.attributes.keys.each do |key| -%>
		<dt><%= key -%></dt>
		<dd><%= @user.attributes[key] -%></dd>
	<% end -%>
</dl></div>
 
</fieldset> 
