<% div_for address do %>
<span class='line_1'><%= address.line_1 %></span>
<span class='line_2'><%= address.line_2 %></span>
<span class='csz'><%= address.csz %></span>
<% end %><!-- class='address' -->
<div class='edit'>
<%= link_to 'Edit', edit_hx_address_path(address) %>
</div><!-- class='edit' -->
