<% stylesheets('hx_addresses') %>
<% render 'hx/subjects/submenu' %>
<% render 'hx/subjects/id_bar' %>
<div id='addresses'>
<%= render :partial => 'address', :collection => @subject.addresses,
	:locals => { :edit => current_user.may_edit_addresses? } %>
</div><!-- id='addresses' -->
<% if current_user.may_edit_addresses? %>
<p id='new_address'>
<%= link_to 'Create new address', new_hx_subject_address_path(@subject) %>
</p>
<% end %>
