<h4>GiftCard:</h4>
<% form_for(@gift_card) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_text_field :vendor %>
	<%= f.wrapped_text_field :number %>
	<p><%= f.submit( (@gift_card.new_record?)?'Create':'Update' ) %></p>
<% end %>
