<% content_tag_for :tr, gift_card, :class => 'row' do %>
	<td class='vendor'>
		<%= gift_card.vendor %>
	</td>
	<td class='number'>
		<%= gift_card.number %>
	</td>
	<td class='manage'>
		<%= button_link_to 'Edit', edit_gift_card_path(gift_card) %>&nbsp;
<% destroy_link_to 'Destroy', gift_card_path(gift_card) do %>
<%= hidden_field_tag 'confirm', "Destroy gift_card '#{gift_card}'?", :id => nil %>
<% end %>
	</td>
<% end %>
