<h4>RefusalReason:</h4>
<% form_for(@refusal_reason) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_text_field :code %>
	<%= f.wrapped_text_field :description %>
	<p><%= f.submit( (@refusal_reason.new_record?)?'Create':'Update' ) %></p>
<% end %>
