<h4>RefusalReasons:</h4>
<% unless @refusal_reasons.empty? %>
<table id='refusal_reasons'><tbody>
<%= render :partial => 'refusal_reason', :collection => @refusal_reasons %>
</tbody></table>
<% else %>
Sorry, no refusal_reasons yet.
<% end %>

<p><%= button_link_to 'Create new refusal_reason', new_refusal_reason_path %></p>
