<% content_tag_for :tr, document_version, :class => 'row' do %>
	<td class='title'>
		<%= document_version.title %>
	</td>
	<td class='description'>
		<%= document_version.description %>
	</td>
	<td class='manage'>
		<%= button_link_to 'Edit', edit_document_version_path(document_version) %>&nbsp;
<% destroy_link_to 'Destroy', document_version_path(document_version) do %>
<%= hidden_field_tag 'confirm', "Destroy document_version '#{document_version}'?", :id => nil %>
<% end %>
	</td>
<% end %>
