<h4>DocumentVersion:</h4>
<% form_for(@document_version) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_text_field :title %>
	<%= f.wrapped_text_field :description %>
	<p><%= f.submit( (@document_version.new_record?)?'Create':'Update' ) %></p>
<% end %>
