<h4>DocumentVersions:</h4>
<% unless @document_versions.empty? %>
<table id='document_versions'><tbody>
<%= render :partial => 'document_version', :collection => @document_versions %>
</tbody></table>
<% else %>
Sorry, no document_versions yet.
<% end %>

<p><%= button_link_to 'Create new document_version', new_document_version_path %></p>
