<% form_for(@project) do |f| %>
	<%= f.error_messages %>
	Project <%= f.label :description %><br/>
	<%= f.text_field :description %><br/>
	<p><%= f.submit( (@project.new_record?)?'Create':'Update' ) %></p>
<% end %>
