<h4>Projects:</h4>
<% unless @projects.empty? %>
<table id='projects'><thead><tr>
<th>Description</th>
</tr></thead><tbody>
<%= render :partial => 'project', :collection => @projects %>
</tbody></table><!-- id='projects' -->
<% else %>
Sorry, no projects yet.
<% end %>

<p><%= button_link_to "Create new projects", new_project_path %></p>
