<p>Who can do what?</p>

<dl>

<dt>Administrator</dt>
<dd><ul>
<li>Pretty much anything</li>
</ul></dd>

<dt>Moderator</dt>
<dd><ul>
<li>Not yet defined</li>
</ul></dd>

<dt>Employee</dt>
<dd><ul>
<li>See office calender</li>
</ul></dd>

<dt>User</dt>
<dd><ul>
<li>Pretty much nothing</li>
</ul></dd>

<dt>Guest (not logged in)</dt>
<dd><ul>
<li>View individual pages</li>
<li>Attempt login</li>
</ul></dd>

</dl>
