<% content_for :id_bar do %>
<%= link_to 'Save', nil, {
	:id => "for_#{dom_id(@phone_number,:edit)}",
	:class => :submitter
} %>
<% end %>

<% form_for(@phone_number,
	:url => phone_number_path(@phone_number),
	:html => { :class => 'confirm edit_phone_number' }) do |f| %>
<%= render 'form', :f => f %>
<% end %>

<% if current_user.may_destroy_phone_numbers? %>
<div class='dev_only'><span>Development only:</span>
<%= (@phone_number.new_record?)? "&nbsp" : 
destroy_link_to( "Destroy", phone_number_path(@phone_number) )
%>
</div>
<% end %>
