development:
  adapter: mysql
  encoding: utf8
  database: homex_development
  username: root
  password:
  host: localhost

#
#	This database NEEDS to be different in the apps that
#	use this so that they do not step all over each other.
#
test:
  adapter: mysql
  encoding: utf8
  database: homex_test
  username: root
  password:
  host: localhost

#
#	This is the common production database, but in the ccls_engine
#	the username and production MUST have the ability to create
#	and modify the structure as this 'app' runs the migrations.
#
production:
  adapter: mysql
  encoding: utf8
  database: homex_production
  username: root
  password:
  host: localhost

