<% content_for :main do %>
<div id='submenu'>
<%= link_to 'send letters', send_letters_hx_enrolls_path,
	:class => ((controller.action_name == 'send_letters')?'current':nil) %>
<a>returned mail</a>
<a>enroll subjects</a>
<a>record outcomes</a>
</div><!-- submenu -->
<% end %>
