<% stylesheets('subject_id_bar') %>

<% content_for :main do %>
<div id='id_bar'>
<div class='childid'>
<span>ChildID:</span>
<span><%= (@subject||subject).childid -%></span>
</div><!-- class='childid' -->
<div class='studyid'>
<span>StudyID:</span>
<span><%= (@subject||subject).studyid -%></span>
</div><!-- class='studyid' -->
<div class='full_name'>
<span><%= (@subject||subject).full_name -%></span>
</div><!-- class='full_name' -->
<%# 
	Occassionally and intermittently and irritattingly,
	this button would drop down 1 line (about 10px)
	for no obvious reason.  Reloading the page would
	make it go away, but after multiple reloads it
	would eventually happen again.?????
	I wrapped the erb tags to avoid any stray white 
	space and it seems to have gone away. 
	No idea. (predominantly on Google Chrome)

	Its back. Random, intermittant behaviour change!?
	My guess is that css loading order is the cause,
	but I have no idea how to confirm. Yet.

	May have fixed this with some rigid css.
%>
<div class='controls'><%= 
	yield :id_bar 
-%></div><!-- class='controls' -->
</div><!-- id='id_bar' -->
<% end %>

<% content_for :main do %>
<div id='do_not_contact'>
Subject requests no further contact with Study.
</div>
<% end if (@subject||subject).do_not_contact? %>
