<div class='parent columns'>
<div class='column'>
<p>Parent Info:</p>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_spans :subject, :mothers_name,
	:label_text => 'Mother:' %>
<%= wrapped_spans :subject, :mother_maiden_name,
	:label_text => 'Maiden Name:' %>
<%= wrapped_spans :subject, :fathers_name,
	:label_text => 'Father:' %>
</div><!-- class='column' -->
<div class='column'>
</div><!-- class='column' -->
</div><!-- class='parent' -->
