<div class='parent columns'>
<div class='column'>
<p>Parent Info:</p>
</div><!-- class='column' -->
<div class='column'>
<p><span>Mother:&nbsp;</span>
	<span><%= @subject.mothers_name %></span></p>
<p><span>Father:&nbsp;</span>
	<span><%= @subject.fathers_name %></span></p>
</div><!-- class='column' -->
<div class='column'>
</div><!-- class='column' -->
</div><!-- class='parent' -->
