<div class='outcomes columns'>
<div class='column'>
<p>Study Outcomes:</p>
</div><!-- class='column' -->
<div class='column'>
<p>interview: NOT CODED YET</p>
<p>sample status: NOT CODED YET</p>
<p>final outcome: NOT CODED YET</p>
</div><!-- class='column' -->
<div class='column'>
<p>date: NOT CODED YET</p>
<p>date: NOT CODED YET</p>
</div><!-- class='column' -->
</div><!-- class='outcomes' -->
