<div class='consent columns'>
<div class='column'>
<p>Consent:</p>
</div><!-- class='column' -->
<div class='column'>
<p>status:&nbsp;
<%= @hx_enrollment.try(:consented?) %></p>
<p>refusal reason:&nbsp;
<%= "#{@hx_enrollment.try(:refusal_reason)}" %></p>
</div><!-- class='column' -->
<div class='column'>
<p>date:&nbsp;
<%= @hx_enrollment.try(:consented_on) %></p>
<p>specify:&nbsp;
<%= "#{@hx_enrollment.try(:other_refusal_reason)}" %></p>
</div><!-- class='column' -->
</div><!-- class='consent' -->
