<% content_tag_for( :div, subject, :class => 'row' ) do %>
<div class='childid'><%= link_to subject.childid, subject -%></div>
<div class='race'>
<%= link_to subject.race, subjects_path(
	params.merge('races[]' => subject.race.name) ) -%>
</div>
<div class='subject_type'>
<%= link_to subject.subject_type, subjects_path(
	params.merge('types[]' => subject.subject_type.description) ) -%>
</div>
<%#

	params.merge on these arrays works but can lead to a 
	long url with multiple equal values unnecessarily.
	Should probably clean it up, but not just yet.

%>

<%#= render 'surveys', :subject => subject %>
<% end %><%# content_tag_for %>
