<% content_tag_for( :div, subject, :class => 'row' ) do %>
<div class='childid'><%= link_to subject.childid, subject -%></div>
<%#= render 'surveys', :subject => subject %>
<% end %><%# content_tag_for %>
