<div class='consent columns'>
<div class='column'>
<p>Consent:</p>
</div><!-- class='column' -->
<div class='column'>
<p>status: NOT CODED YET</p>
<p>refusal reason:  NOT CODED YET</p>
</div><!-- class='column' -->
<div class='column'>
<p>date:  NOT CODED YET</p>
<p>specify:  NOT CODED YET</p>
</div><!-- class='column' -->
</div><!-- class='consent' -->
