<div class='consent columns'>
<div class='column'>
<p>Consent:</p>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_spans :hx_enrollment, :consented,
	:value => y_n_dk(@hx_enrollment.consented),
	:label_text => 'consented?' %>
<p>refusal reason:&nbsp;<%= @hx_enrollment.refusal_reason %></p>
</div><!-- class='column' -->
<div class='column'>
<p>date:&nbsp;<%=mdy @hx_enrollment.consented_on %></p>
<p>specify:&nbsp;<%= @hx_enrollment.other_refusal_reason %></p>
</div><!-- class='column' -->
</div><!-- class='consent' -->
