<% stylesheets('subject') %>

<% content_tag_for( :div, @subject ) do %>
<div class='id'>Subject: <%= @subject.full_name -%></div>

<%= render :partial => 'study_event', :collection => @study_events %>

<% end %><%# content_tag_for %>
