
<p>Welcome, you have confirmed that your invitation is valid.</p>

<p>Add some text here regarding understanding and consent.</p>

<p>When you are ready, just click the link below and we'll begin.</p>

<%= link_to "Take survey", edit_my_survey_path( 
	:survey_code       => @response_set.survey.access_code, 
	:response_set_code => @response_set.access_code
) %>
