
<p>Welcome, your invitation is valid.</p>

<p>Add some text regarding understanding and consent</p>

<p>Perhaps this should be a "Page" with a non-page flag or something similar to allow for non developer modification.</p>

<%= link_to "Take survey", edit_my_survey_path( 
	:survey_code       => @response_set.survey.access_code, 
	:response_set_code => @response_set.access_code
) %>
