<% content_for :main do %>
<div id='submenu'>
<%= link_to 'send kits', send_kits_hx_samples_path,
	:class => ((controller.action_name == 'send_kits')?'current':nil) %>
<a>receive samples</a>
<a>prepare for lab</a>
<a>lab results</a>
</div><!-- submenu -->
<% end %>
