<h4>Guides:</h4>
<% unless @guides.empty? %>
<table id='guides'><thead><tr>
<th>Controller</th>
<th>Action</th>
</tr></thead><tbody>
<%= render :partial => 'guide', :collection => @guides %>
</tbody></table><!-- id='guides' -->
<% else %>
Sorry, no guides yet.
<% end %>

<p><%= button_link_to "Create new guide", new_guide_path %></p>
