<div class='homex_outcomes'>
<span class='title'>Study Outcomes</span>
<div class='columns'>
<div class='column'>
<%= wrapped_spans :study_subject, :interview_outcome,
	:label_text => 'interview:' %>
<%= wrapped_spans :study_subject, :sample_outcome,
	:label_text => 'sample status:' %>
<%#= wrapped_spans :study_subject, :final,
	:value => 'NOT CODED YET',
	:label_text => 'final outcome:' %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_spans :study_subject, :interview_outcome_on,
	:value => mdy(@study_subject.interview_outcome_on),
	:label_text => 'date:' %>
<%= wrapped_spans :study_subject, :sample_outcome_on,
	:value => mdy(@study_subject.sample_outcome_on),
	:label_text => 'date:' %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='homex_outcomes' -->
