<%= content_for :head, stylesheet_link_tag('home_page_pics') %>

<div id='home_page_pics'>
<%= render :partial => 'home_page_pic', :collection => @home_page_pics %>
</div><!-- id='home_page_pics' -->

<br />

<%= button_link_to 'Create New Home Page Pic', new_home_page_pic_path %>
