<% stylesheets('home_exposure_responses') %>

<table><tbody>
<% HomeExposureResponse.field_names.each do |field_name| %>
<%= show_row(:home_exposure_response,field_name) %>
<% end %>
</tbody></table>
