<div id='footer'>
<div class='main_width'>
<p>
<span>Copyright &copy; UC Regents; all rights reserved.</span>
&nbsp;|&nbsp;
<%= link_to "Terms of Service", "/terms" %>
&nbsp;|&nbsp;
<%= link_to "Privacy Policy", "/privacy" %>
</p>
</div>
</div><!-- footer -->
