<div id='guidance'>
<h3>Guidance</h3>
<% if @guidance %>
<%= sanitize(textilize(@guidance.body)) %>
<% else %>
<p>Page-specific guidance or cautions will be listed in this region of system pages.</p>
<p>If you have any questions about how to use the system, or recommendations for guidance that would be helpful, please contact Magee Mooney.</p>
<% end %>
</div><!-- guidance -->
